.Home {
    min-height: 100vh;
  
    display: flex;              /* Use Flexbox */
    flex-direction: row; /* Place the image on the right */
    align-items: center;        /* Vertically center content */
    justify-content: space-between;  /* Space out the image and text */
    padding: 0 5%;              /* Optional: Add some padding around the card */
  }
  
  .text-container {
    max-width: 60%;  /* Adjust width of the text container */
    padding-right: 20px; /* Space between text and image */
  }
  
  .head-shot-container {
    display: flex;           /* Use flex to center the image inside the container */
    justify-content: center; /* Horizontally center the image */
    align-items: center;     /* Vertically center the image */
  }
  
  .head-shot {
    width: 400px;        /* Set the width of the image */
    height: 400px;       /* Set the height of the image */
    border-radius: 50%;  /* Make the image round */
    object-fit: cover;   /* Ensure the image covers the area without distortion */
  }
  